<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/87534dffde.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Mercado Liebre</title>
</head>
<body class="home__body">
    <header class="home__body--header">
        <img src="\images\logo-mercado-liebre.svg" alt="imagen-logo">
        <form action="">
            <input type="text" placeholder="Buscar productos">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div>
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <a href="">Comprá en cuotas y sin tarjeta de crédito</a>
        </div>
        
        <nav class="home__body__header--nav">
            <ul class="home__body__header--nav-navegacion">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="home__body__header--nav-navegacion">
                <li><a href="">Creá tu cuenta</a><i class="fa-solid fa-file-invoice"></i></li>
                <li><a href="">Ingresá</a><i class="fa-solid fa-arrow-right"></i></li>
                <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            <a class="home__body__header--nav-menu" href=""><i class="fa-solid fa-bars"></i></a>
        </nav>
    </header>
    <main class="home__body__main">
        <section class="home__body__main--products">
            <h2>Basado en tu última visita</h2>
            <article class="home__body__main--products-box">
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="home__body__main--products-box-description">
                    <i class="fa-solid fa-truck"></i>
                    <p>$6.770</p>
                    <h4>40% OFF</h4>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="home__body__main--products-box">
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="home__body__main--products-box-description">
                    <i class="fa-solid fa-truck"></i>
                    <p>$230.000</p>
                    <h4>20% OFF</h4>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="home__body__main--products-box">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="home__body__main--products-box-description">
                    <i class="fa-solid fa-truck"></i>
                    <p>$70.500</p>
                    <h4>10% OFF</h4>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="home__body__main--products-box">
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="home__body__main--products-box-description">
                    <i class="fa-solid fa-truck"></i>
                    <p>$23.200</p>
                    <h4>5%% OFF</h4>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section class="home__body__main--products">
            <h2>Sección de Ofertas</h2>
            <article class="home__body__main--products-box">
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="home__body__main--products-box-description">
                    <i class="fa-solid fa-truck"></i>
                    <p>$6.770</p>
                    <h4>40% OFF</h4>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="home__body__main--products-box">
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="home__body__main--products-box-description">
                    <i class="fa-solid fa-truck"></i>
                    <p>$230.000</p>
                    <h4>20% OFF</h4>
                    <h3>MacBook Pro 2019</h3>
                </div>  
            </article>
            <article class="home__body__main--products-box">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="home__body__main--products-box-description">
                    <i class="fa-solid fa-truck"></i>
                    <p>$70.500</p>
                    <h4>10% OFF</h4>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="home__body__main--products-box">
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="home__body__main--products-box-description">
                    <i class="fa-solid fa-truck"></i>
                    <p>$23.200</p>
                    <h4>5%% OFF</h4>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    <footer class="home__body__footer">
        <a href=""><i class="fa-solid fa-credit-card"></i></a>
            <h5>Pagá con tarjeta o en efectivo</h5>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <a href=""><i class="fa-solid fa-box"></i></a>
            <h5>Envío gratis desde $ 2.500</h5>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <a href=""><i class="fa-solid fa-user-shield"></i></a>
            <h5>Seguridad, de principio a fin</h5>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
</body>
</html>