<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="\images\logo-mercado-liebre.svg" alt="imagen-logo">
        <input type="text" placeholder="Buscar productos">
        <a href="">Comprá en cuotas y sin tarjeta de crédito</a>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis comprasender</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <h4>40% OFF</h4>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <h4>20% OFF</h4>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <h4>10% OFF</h4>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <h4>5%% OFF</h4>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <p>$6.770</p>
                <h4>40% OFF</h4>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <p>$230.000</p>
                <h4>20% OFF</h4>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70.500</p>
                <h4>10% OFF</h4>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <p>$23.200</p>
                <h4>5%% OFF</h4>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>
    <footer>
        <h5>Pagá con tarjeta o en efectivo</h5>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            <h5>Envío gratis desde $ 2.500</h5>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
            <h5>Seguridad, de principio a fin</h5>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
</body>
</html>